{% extends 'base2.html.twig' %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}


		<section class="h-100 h-custom bg-light bg-white">
			<div class="container py-5 h-100 ">
				<div class="row d-flex justify-content-center align-items-center h-100 ">
					<div class="col-lg-8 white ">
						<div class="card border border-white">
							<div class="card-body p-md-5 bg-dark" style="border-radius: 15px;">
								<div class="text-white text-center" style="font-family: 'Bubblegum Sans', cursive;margin-bottom:2%; font-size:3rem;">Log In Form</div>
								<form class="px-md-2">
									
									<div class="col-7 form-outline mb-4" style="margin-left:20%;">
									<label class="text-white" style="font-family: 'Bubblegum Sans', cursive; font-size:2vw;" for="inputEmail">Email</label>
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
									</div>
									<div class="col-7 form-outline mb-4" style="margin-left:20%; margin-top:5%;">
									<label class="text-white" style="font-family: 'Bubblegum Sans', cursive; font-size:2vw;" for="inputPassword">Password</label>
									<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
									</div>

									<div class="text-center" style="margin-bottom:5%; margin-top:4%;">
									<div class="d-inline text-white text-center" style=" font-size:1vw;">Do not have an account?</div> 
									<a href="{{ path('app_register') }}" onmouseover="this.style.color='#D3D3D3'" onmouseout="this.style.color='#ffffff'" class="d-inline text-center list-group-item fw-bold"  style="margin-left:.5%; color:#ffffff; font-family: 'Bubblegum Sans', cursive; font-size:1.2vw;">Sign Up</a>
									</div>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<a href="{{ path('app_home') }}" class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Back" style="border-radius:14px; float: left; border: solid 2px white; margin-bottom: 3%; margin-left:20%; margin-top:6%; font-size:1.5vw; font-family: 'Bubblegum Sans', cursive;" name="back" value="Back">
										Go Back</a>
									<input class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Sign Up" style=" border-radius:14px; float: right; margin-right:21%; margin-bottom: 3%; margin-top:6%; border: solid 2px white;  font-size:1.5vw; font-family: 'Bubblegum Sans', cursive;" type="submit" value="Log In"></input>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>{% endblock %}
