{% extends 'base2.html.twig' %}
{% block body %}
	{{ form_start(form) }}
	<div class="row"  style="  margin-bottom:2%; margin-top:1.5%; ">

		<div class="d-flex justify-content-center" >
		<div class="col-4" >
			<img src="https://tinyurl.com/y3b5vfy9" class="card-img-top" style=" object-fit:cover; height:100%;" alt="...">
		</div>

		<div class="col-5 text-white form-group" style="">	
			<div class ="bg-dark" style="padding-top:15%;  height:100% ">
				<div class="" style="font-family: 'Bubblegum Sans', cursive; margin-left:20%; font-size:45px;">
					Create A New Manufacturer
				</div>
				<div class="row" style="margin: 4% 10%;">
					<div class="col-6" >
						<label  style="font-family: 'Bubblegum Sans', cursive; font-size:25px;"  for="name">Name:</label>
						{{ form_widget(form.name,{
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Manufacture Name'
                    }
                }) }}
					</div>
					<div class="col-6">
						<label style="font-family: 'Bubblegum Sans', cursive; font-size:25px;"  for="address">Address:</label>
						{{ form_widget(form.address,{
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Address'
                    }
                }) }}
					</div>
				</div>
				<div class="row" style="margin: 4% 10%;">
					<div class="col-5">
						<label style="font-family: 'Bubblegum Sans', cursive; font-size:25px;"  for="telephone">Telephone:</label>
						{{ form_widget(form.telephone,{
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Telephone'
                    }
                }) }}
					</div>
					<div class="col-7">
						<label style="font-family: 'Bubblegum Sans', cursive; font-size:25px;"  for="email">Email:</label>
						{{ form_widget(form.email,{
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Email'
                    }
                }) }}
					</div>
					
				</div>
                <div class="row" style="margin: 4% 10%;" >
                <div class="col-12">
						<label style="font-family: 'Bubblegum Sans', cursive; font-size:25px;"  for="description">Description:</label>
						{{ form_widget(form.description,{
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Description'
                    }
                }) }}
					</div>
                </div>

				<div class="d-flex justify-content-around">

				<a href="{{ path('app_home') }}"  class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Back" style=" float: left; border: solid 2px white; margin-top: 2%; margin-bottom: 4%;  font-size:25px; font-family: 'Bubblegum Sans', cursive;" name="back" value="Back">
					 Go Back</a>
					 <input class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Click To Add" style=" float: right;  margin-top: 2%; margin-bottom: 4%; border: solid 2px white; font-size:25px; font-family: 'Bubblegum Sans', cursive;" type="submit" name="create_manufacturer" value="Create"></input>
				</div>
				
			</div>
	
		</div>
		</div>
	</div>

	{{ form_end(form) }}
{% endblock %}
