{% extends 'base2.html.twig' %}

{% block body %}


	<div class="container">

		<div class="row">
			<div class="preview col-6">

				<img class=" img-fluid" style=" display: block; height:100%;  object-fit:cover; margin-left: auto; margin-right: auto; " src="{{ asset('uploads/products/'~products.image~'') }}">


			</div>

			<div class="bg-dark text-white col-md-5 ;" style="border-radius:13px;">

				<h1 class="d-block text-uppercase fw-bolder " style="font-family: 'Bubblegum Sans', cursive; margin-left:5%; margin-bottom:3%; margin-top:6%; font-size:3vw; ">{{ products.name }}</h1>

				<li class=" d-block text-wrap text-break" style=" font-family: 'Bubblegum Sans', cursive;margin-left:5%; margin-bottom:5%;font-size:1.2vw; width: 95%;">{{ products.description }}</li>

				<div class=" row row-cols-lg-auto g3 align-items-center" stlye="font-family: 'Bubblegum Sans', cursive; ">
					<h4 class=" d-block text-uppercase fw-bold " style="font-family: 'Bubblegum Sans', cursive;margin-left:5%;margin-bottom:3%;">Price:</h4>
					<h4 style="margin-bottom:3%;font-family: 'Bubblegum Sans', cursive;">
						{{ products.unitPrice }}
						VND</h4>
				</div>

				<div class=" row row-cols-lg-auto g3 align-items-center" stlye="font-family: 'Bubblegum Sans', cursive; margin-bottom:5%;">

					<h4 class=" d-block text-uppercase fw-bold " style="font-family: 'Bubblegum Sans', cursive;margin-left:5%;margin-bottom:3%;">Quantity:</h4>
					<h4 style="margin-bottom:3%;font-family: 'Bubblegum Sans', cursive;">
						{{ products.quantity }}
					</h4>
				</div>

				<div class=" row row-cols-lg-auto g3 align-items-center" stlye="font-family: 'Bubblegum Sans', cursive; margin-bottom:5%;">

					<h4 class=" d-block text-uppercase fw-bold " style="font-family: 'Bubblegum Sans', cursive;margin-left:5%;margin-bottom:3%;">Category:</h4>
					<h4 style=" margin-bottom:3%;font-family: 'Bubblegum Sans', cursive;">
						{{ products.category }}
					</h4>
				</div>

				<div class=" row row-cols-lg-auto g3 align-items-center" stlye="font-family: 'Bubblegum Sans', cursive; margin-bottom:5%;">

					<h4 class=" d-block text-uppercase fw-bold " style="font-family: 'Bubblegum Sans', cursive;margin-left:5%;margin-bottom:3%;">Manufacturer:</h4>
					<h4 style="margin-bottom:3%;font-family: 'Bubblegum Sans', cursive;">
						{{ products.manufacturer }}
						Company</h4>
				</div>
				<div class="action d-flex justify-content-center">
					<a href="{{ path('product_list') }}" class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Back" style=" border-radius:14px; float: left; border: solid 2px white; margin-bottom: 2%;margin-top: 2%;  font-size:1.5vw; font-family: 'Bubblegum Sans', cursive;" name="back" value="Back">
						Go Back</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
