{% extends 'base2.html.twig' %}

{% block body %}
    	<div class="container">
		
			<div class="container">

				<div class="row">
					<div class="preview col-6">
						 
						 <img  class=" img-fluid" style=" display: block; height:100%;  object-fit:cover; margin-left: auto; margin-right: auto; " src="{{ asset('uploads/products/'~products.image~'') }}">
						
						
					</div>

					<div class="bg-dark text-white col-md-5 " >
                    
						<h1 class="d-block text-uppercase fw-bolder " style="font-family: 'Bubblegum Sans', cursive; margin-left:5%; margin-bottom:3%; margin-top:4%; font-size:3vw; " >{{ products.name }}</h1>

						<li class=" d-block text-wrap text-break" style=" font-family: 'Bubblegum Sans', cursive;margin-left:5%; margin-bottom:5%;font-size:1.2vw; width: 95%;">{{ products.description }}</li>

                        <div class=" row row-cols-lg-auto g3 align-items-center" stlye="font-family: 'Bubblegum Sans', cursive; margin-bottom:5%;">

						<h4 class=" d-block text-uppercase fw-bold" style="font-family: 'Bubblegum Sans', cursive;margin-left:5%;">Price:</h4>
                         <h5 style="font-family: 'Bubblegum Sans', cursive;color: #FFFACD"> {{ products.unitPrice }} VND</h5>
                        </div>

						<h5>

							<li class=" list-group-item" style="margin-left:5%; margin-bottom:5%;font-family: 'Bubblegum Sans', cursive;">Quantity: {{ products.quantity }}</li>
						</h5>

                        <li class="list-group-item" style="margin-left:5%; margin-bottom:2%;font-family: 'Bubblegum Sans', cursive;">Category: {{ products.category.name }}</li>

                        <li class="list-group-item" style="margin-left:5%; margin-bottom:2%;font-family: 'Bubblegum Sans', cursive;">Manufacturer: {{ products.manufacturer.name }}</li>	

						<div class="action d-flex justify-content-center">
							<a href="{{ path('product_list') }}"  class="btn btn-outline-light btn-md" data-bs-toggle="tooltip" data-bs-placement="right" title="Back" style=" border-radius:14px; float: left; border: solid 2px white; margin-top: 2%; margin-bottom: 6%;  font-size:1.5vw; font-family: 'Bubblegum Sans', cursive;" name="back" value="Back">
							Go Back</a>
						</div>
					</div>
				</div>
			</div>
		
	</div>
{% endblock %}